<header class="header-section d-flex justify-content-center align-items-center position-relative react-header">
  <div class="overlay"></div>
  <p class="career-header-content">React Js</p>
</header>
<div class="position-relative">
  <%= image_tag 'theme1/dot-shape-right-top.png', class: "position-absolute top-0 end-0",style: "z-index: -1; opacity: 0.4", alt: "" %>
</div>
<section class="container mx-auto row d-flex align-items-center about-section mb-5">
  <div class="row d-flex align-items-start mt-5">
      <div class="pe-md-3 text-center col-md-6 col-12">
          <p class="heading-text text-center mb-5">
              What is <span class="primary-color">ReactJS ?</span>
          </p>
          <div class="project-detail mt-3">
              React.js is an open-source JavaScript library developed by Facebook for building dynamic and interactive user interfaces, particularly for single-page applications. It simplifies the process of creating UIs by using a component-based architecture, where the user interface is broken into small, reusable pieces called components. Each component can manage its own state and logic, making complex applications easier to develop and maintain.
          </div>
          <div class="project-detail mt-3">
              React employs a Virtual DOM, a lightweight copy of the real DOM, which ensures efficient updates and rendering. When the state of an application changes, React updates only the affected parts of the DOM, leading to better performance. JSX, a syntax extension for JavaScript, allows developers to write HTML-like code within JavaScript, improving readability and ease of development.
          </div>
      </div>
      <div class="order-0 order-md-1 col-md-6 col-12 pe-md-3 text-center">
          <p class="heading-text text-center mb-5">
              Benefits of <span class="primary-color">ReactJS</span>
          </p>
          <%= image_tag 'theme1/react-benefits.png', class: "tech-img",style: "border-radius: 12px; object-fit: cover; max-width: 500px;", width: "100%", alt: "" %>
      </div>
  </div>
</section>

<section class="mt-3 mt-md-5 pt-5 pb-5 tech-detail-section">
  <div class="heading-text container mx-auto text-center text-white pt-5" style="line-height: 1.3;">
      Why Choose <span class="primary-color">Precious </span>Infosystem for <br> ReactJS Development?
  </div>
  <div class="tech-detail-div container mx-auto d-flex flex-wrap mb-5" style="max-width: 992px;">
      <div class="tech-webdev-div">
          <%= image_tag 'theme1/optimizing.png',alt: "" %>
          <p class="tech-detail-heading">Optimized and quick reacting applications</p>
          <p class="tech-detail-content">Front-end web development helps in creating optimized and well-structured web applications. The latest technology used by Front-End developers helps them to build quick reacting features and structure that empowers the app to load and work fast.</p>
      </div>
      <div class="tech-webdev-div">
          <%= image_tag 'theme1/easylearn.png',alt: "" %>
          <p class="tech-detail-heading">Easy to learn and use Scale Technologies</p>
          <p class="tech-detail-content">Front-end web development helps in creating optimized and well-structured web applications. The latest technology used by Front-End developers helps them to build quick reacting features and structure that empowers the app to load and work fast.</p>
      </div>
      <div class="tech-webdev-div">
          <%= image_tag 'theme1/delivery.png',alt: "" %>
          <p class="tech-detail-heading">Speedy development and On-Time Deliverance</p>
          <p class="tech-detail-content">Front-end web development helps in creating optimized and well-structured web applications. The latest technology used by Front-End developers helps them to build quick reacting features and structure that empowers the app to load and work fast.</p>
      </div>
      <div class="tech-webdev-div">
          <%= image_tag 'theme1/visitor.png',alt: "" %>
          <p class="tech-detail-heading">Visitors retention</p>
          <p class="tech-detail-content">Front-end web development helps in creating optimized and well-structured web applications. The latest technology used by Front-End developers helps them to build quick reacting features and structure that empowers the app to load and work fast.</p>
      </div>
      <div class="tech-webdev-div">
          <%= image_tag 'theme1/layout.png',alt: "" %>
          <p class="tech-detail-heading">Powerful Feature and Layouts</p>
          <p class="tech-detail-content">Front-end web development helps in creating optimized and well-structured web applications. The latest technology used by Front-End developers helps them to build quick reacting features and structure that empowers the app to load and work fast.</p>
      </div>
      <div class="tech-webdev-div">
          <%= image_tag 'theme1/realtime.png',alt: "" %>
          <p class="tech-detail-heading">Offers Real-Time Programming</p>
          <p class="tech-detail-content">Front-end web development helps in creating optimized and well-structured web applications. The latest technology used by Front-End developers helps them to build quick reacting features and structure that empowers the app to load and work fast.</p>
      </div>
  </div>
</section>

<section class="quality-section position-relative mb-5 pb-5">
  <%= image_tag 'theme1/icon-lines-6.png', class: "quality-bg-img", alt: "" %>
  <div class="container mx-auto">
      <div class="fs-3 market-text">Hire our ReactJS Developer</div>
      <div class="market-content">Looking for a skilled ReactJS developer to bring your project to life? At Precious Infosystem, our dedicated ReactJS developers are ready to transform your ideas into high-performing, scalable web applications.</div>
      <button class="custom-btn"><a href="index.html#contactsection" class="text-decoration-none">Hire Us</a></button>
  </div>
</section>
