<section class="service-section position-relative" id="servicepart">
  <%= image_tag 'theme1/dot-shape-right-top.png',class: "position-absolute top-0 end-0", style: "z-index: -1; opacity: 0.4" ,alt: "" %>
    
  <div class="container mx-auto mb-3 mb-md-5 pt-5 pb-5">
      <p class="heading-text text-center mt-3 mt-md-5 mb-4 wow animated zoomIn">
          OUR <span class="primary-color">SERVICES</span>
      </p>
      <p class="text-center my-3 wow animated zoomIn" style="max-width: 750px; margin: auto; line-height: 1.4; font-size: 14px;">
        Traditional teaching methods have undergone a sea of change with the desktops, tablets and apps changing the blackboards. So it is vital to have a prevailing online presence for your venture. Our web design, e-learning website development services and tech resolutions are made to order to attain digital excellence. 
      </p>
      <div class="service-div mt-5">
          <div class="d-flex gap-1 gap-sm-2 bg-white wow animated slideInLeft">
            <%= link_to theme1_home_service_detail_path('web-development'), class: 'some-class' do %>
              <%= image_tag 'theme1/precious/Service page/web devlopment (serice page).svg', alt: '', height: '100%' %>
            <% end %>          
              <div class="service-content">
                  <a href="web-development.html" class="text-decoration-none" style="font-size: 18px; font-weight: 600; color: black; text-align: start;">Web Development</a>
                  <p style="font-weight: 400;">
                    We have a squad of SEO developers who will make certain that your website content and layout is SEO optimized, mobile laptop and quick to respond to TV and designed to bring the results. Our web developers go further than the artistic design and guarantee that your site is built to produce the leads, turn to sales and be a visual presentation of your brand across all devices.
                  </p>
                  <%= link_to 'read more', theme1_home_service_detail_path('web-development'), class: 'dropdown-item' %>
              </div>
          </div>
          <div class="d-flex gap-1 gap-sm-2 bg-white wow animated slideInDown">
              <%= link_to theme1_home_service_detail_path('web-development'), class: 'some-class' do %>
                <%= image_tag 'theme1/precious/Service page/app development(services).svg', alt: '', height: '100%' %>
              <% end %>

              <div class="service-content">
                  <a href="web-development.html" class="text-decoration-none" style="font-size: 18px; font-weight: 600; color: black; text-align: start;">App Development</a>
                  <p style="font-weight: 400;">
                    Beautiful and leading websites & apps that are mobile friendly fast to load and help drive sales providing you a solid presence online.
                  </p>
                  <%= link_to 'read more', theme1_home_service_detail_path('app-development'), class: 'dropdown-item' %>
              </div>
          </div>
          <div class="d-flex gap-1 gap-sm-2 bg-white wow animated slideInRight">
              <%= link_to theme1_home_service_detail_path('web-development'), class: 'some-class' do %>
                <%= image_tag 'theme1/precious/Service page/graphic (serice page).svg', alt: '', height: '100%' %>
              <% end %>

              <div class="service-content">
                  <a href="web-development.html" class="text-decoration-none" style="font-size: 18px; font-weight: 600; color: black; text-align: start;">UI/UX Design</a>
                  <p style="font-weight: 400;">
                    Visibility and User Experience (UX) focus on the delicate changes required to make it simple for the user to publish a site instinctively, with no thought or distress. Our team of UX designers and usability proficients shape your business requirements and user’s expectations to design and build up the user-centric web and mobile app designs. By selecting our Web design Company for better-quality UX design, you obtain intuitive experiences intended to both add to your audience and help businesses to make products that people love.
                  </p>
                  <%= link_to 'read more', theme1_home_service_detail_path('ui-ux-design'), class: 'dropdown-item' %>
              </div>
          </div>
          <div class="d-flex gap-1 gap-sm-2 bg-white wow animated slideInLeft">
              <%= link_to theme1_home_service_detail_path('web-development'), class: 'some-class' do %>
                <%= image_tag 'theme1/precious/Service page/digital marketing (serice page).svg', alt: '', height: '100%' %>
              <% end %>

              <div class="service-content">
                  <a href="web-development.html" class="text-decoration-none" style="font-size: 18px; font-weight: 600; color: black; text-align: start;">Digital Marketing</a>
                  <p style="font-weight: 400;">
                    We have a group of developers’, in-house copywriters, designers, coders, SEO and PPC specialists who make sure that your digital marketing plan flawlessly ties together with your new website to generate results. We use our perceptive of Digital Marketing to design and develop the sites that rank well on Google, driving more organic traffic to your website.
                  </p>
                  <%= link_to 'read more', theme1_home_service_detail_path('digital-marketing'), class: 'dropdown-item' %>
              </div>
          </div>
      </div>
  </div>
</section>
