<section class="service-detail-section mt-3 mt-md-5 pt-5 pb-5">
  <div class="feature-overlay"></div>
  <div class="heading-text container mx-auto text-center text-white pt-5 wow animated zoomIn">
    Benefits of <span class="primary-color">Web Development</span> <br /> and Design Services
  </div>
  <div class="service-detail-div container mx-auto d-flex flex-wrap mb-5" style="max-width: 992px;">
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Optimized and quick reacting applications.png" , alt: ""
        %>
        <p class="service-detail-heading">Enhanced User Experience and Accessibility</p>
        <p class="service-detail-content">Web applications offer an instinctive and user-friendly interface,
          guaranteeing a flawless experience for the customers. With round-the-clock availability and ease of access
          through an internet connection, users can interrelate with the application with ease.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Easy to learn and use Scale Technologies.png" , alt: "" %>
        <p class="service-detail-heading">Streamlined Business Processes</p>
        <p class="service-detail-content">By leveraging web-based systems, your business can smooth the progress of data
          sharing and collaboration, leading to augmented efficiency. Manual procedures can be changed with automative
          workflows, boosting productivity and lessening the operational costs.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Speedy development and On-Time Deliverance.png" , alt: ""
        %>
        <p class="service-detail-heading">Flexibility and Scalability</p>
        <p class="service-detail-content">Custom web apps make possible to your business to adapt and grow impeccably.
          New features and integrations with other systems can be simply added to meet changing necessities. In
          addition, cloud servers offer the flexibility to scale computing capacity and storage as required.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Visitors retention.png" , alt: "" %>
        <p class="service-detail-heading">Effortless Deployment, Updates, and Maintenance</p>
        <p class="service-detail-content">Deploying a web application is a straightforward procedure, granting the users
          access through a simple URL. Unlike mobile apps that have a need of individual upgrades, web app updates are
          applied centrally on the host server, ensuring that all users access the newest version at the same time.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Powerful Feature and Layouts.png" , alt: "" %>
        <p class="service-detail-heading">Self-Service Options for Customers</p>
        <p class="service-detail-content">Web apps offer the benefit of providing the self-service options to customers.
          Users can complete tasks separately without relying on customer service representatives. This can be
          particularly helpful for large-scale companies managing a distributed customer base across the globe.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Offers Real-Time Programming.png" , alt: "" %>
        <p class="service-detail-heading">Cross-platform compatibility </p>
        <p class="service-detail-content">Cross-platform compatibility simplifies the development process, lessens the
          costs, and ensures a reliable user experience across devices, fostering user approval and allegiance.</p>
    </div>
  </div>
</section>
