<section class="service-detail-section mt-3 mt-md-5 pt-5 pb-5">
  <div class="feature-overlay"></div>
  <div class="heading-text container mx-auto text-center text-white pt-5 wow animated zoomIn">
    Benefits of <span class="primary-color">Web Development</span> <br /> and Design Services
  </div>
  <div class="service-detail-div container mx-auto d-flex flex-wrap mb-5" style="max-width: 992px;">
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Optimized and quick reacting applications.png" , alt: ""
        %>
        <p class="service-detail-heading">A Decade of Scaling Design Heights</p>
        <p class="service-detail-content">Find strong software resolutions with our UI/UX design services. From molding the basic event apps to crafting venture software, our seasoned design team brings your each idea to life with the forward-looking tools and technologies.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Easy to learn and use Scale Technologies.png" , alt: "" %>
        <p class="service-detail-heading">Multi-Industry Expertise</p>
        <p class="service-detail-content">Through an all-inclusive root cause analyses and our UI design services, we make interactive interfaces and complex animation designs to guarantee an immersive user experience voyage.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Speedy development and On-Time Deliverance.png" , alt: ""
        %>
        <p class="service-detail-heading">Primed for Perfection</p>
        <p class="service-detail-content">To offer quality UI/UX design services, we stick on to the tried-and-true in-house standards, driving ingenuity throughout a structured lens. Through continuing mentoring, our design team is skillful and organized – well-versed in delivering superiority.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Visitors retention.png" , alt: "" %>
        <p class="service-detail-heading">Increased Conversion Rates</p>
        <p class="service-detail-content">Recognizing the considerable impact of top UI UX design services on your website’s conversion rates is vital. It exemplifies the vast value an efficient UI/UX design can add to your website.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Powerful Feature and Layouts.png" , alt: "" %>
        <p class="service-detail-heading">A Well-Organized Site</p>
        <p class="service-detail-content">Organizing your site in order can make it simple for visitors to find relevant content. It raises the engagement rate and lessens the bounce rate.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Offers Real-Time Programming.png" , alt: "" %>
        <p class="service-detail-heading">Faster Time to Market</p>
        <p class="service-detail-content">Rapidly circulating your ideas to your target audience is vital, particularly when making a novel product or service. You can achieve that by engaging the proficient UI UX design services previous to committing substantial sources and capital.</p>
    </div>
  </div>
</section>
