<section class="service-detail-section mt-3 mt-md-5 pt-5 pb-5">
  <div class="feature-overlay"></div>
  <div class="heading-text container mx-auto text-center text-white pt-5 wow animated zoomIn">
    Benefits of <span class="primary-color">Web Development</span> <br /> and Design Services
  </div>
  <div class="service-detail-div container mx-auto d-flex flex-wrap mb-5" style="max-width: 992px;">
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Optimized and quick reacting applications.png" , alt: ""
        %>
        <p class="service-detail-heading">Cost-effective</p>
        <p class="service-detail-content">Digital marketing helps you save money and get more leads. It is a reasonable way to market your business to attracted consumers. Many digital marketing and advertising methods are budget-friendly.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Easy to learn and use Scale Technologies.png" , alt: "" %>
        <p class="service-detail-heading">Measurable</p>
        <p class="service-detail-content">When you spend money into a marketing campaign, you desire to track the results of the campaign. With digital marketing methods, you can precisely track the results of your campaign. By measuring your results, you’ll run better campaigns for your business.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Speedy development and On-Time Deliverance.png" , alt: ""
        %>
        <p class="service-detail-heading">Target perfect customers</p>
        <p class="service-detail-content">To have an efficient marketing campaign, you must get to the right people. You must reach people involved in your business and that desire to heed from you. Out of all the perks, the most important benefit of online marketing is the capability to target people specially.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Visitors retention.png" , alt: "" %>
        <p class="service-detail-heading">Reach people at the beginning of the buying journey</p>
        <p class="service-detail-content">Your audience is seeking to know more about products or services to teach themselves. By using online marketing, you can direct these users to your page to give them with the information they require.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Powerful Feature and Layouts.png" , alt: "" %>
        <p class="service-detail-heading">Enables you to make changes as you go</p>
        <p class="service-detail-content">You can upgrade your PPC campaigns, tweak your social media ads, optimize your SEO campaigns, and update your content as you require. This means you can acclimatize your campaign to drive the best results.</p>
    </div>
    <div class="service-webdev-div wow animated slideInUp">
      <%= image_tag "theme1/Sevices page/services small icons/Offers Real-Time Programming.png" , alt: "" %>
        <p class="service-detail-heading">Improves your conversion rate</p>
        <p class="service-detail-content">When you spend in online marketing approaches, like conversion rate optimization, you can raise your conversion rate. This is due to your capability to target more specific leads. Your company earns extra conversions, which helps you grow.</p>
    </div>
  </div>
</section>
