<section class="service-detail-section mt-3 mt-md-5 pt-5 pb-5">
  <div class="feature-overlay"></div>
  <div class="heading-text container mx-auto text-center text-white pt-5 wow animated zoomIn" >
      Benefits of <span class="primary-color">Web Development</span> <br /> and Design Services
  </div>
  <div class="service-detail-div container mx-auto d-flex flex-wrap mb-5" style="max-width: 992px;">
      <div class="service-webdev-div wow animated slideInUp">
          <%= image_tag "theme1/Sevices page/services small icons/Optimized and quick reacting applications.png", alt: ""%>
          <p class="service-detail-heading">Website speed is improved</p>
          <p class="service-detail-content">Page speed is a significant factor for sites today. No one desires to wait for hours to upload a website. Companies require faster loading sites to get more users and turn them into leads. </p>
      </div>
      <div class="service-webdev-div wow animated slideInUp">
          <%= image_tag "theme1/Sevices page/services small icons/Easy to learn and use Scale Technologies.png", alt: ""%>
          <p class="service-detail-heading">User friendly Interface</p>
          <p class="service-detail-content">Another benefit of the use of web development is creating a user-friendly design interface for the sites. It’s a mixture of Html, CSS, and JavaScript to make a core website.</p>
      </div>
      <div class="service-webdev-div wow animated slideInUp">
          <%= image_tag "theme1/Sevices page/services small icons/Speedy development and On-Time Deliverance.png", alt: ""%>
          <p class="service-detail-heading">Mobile-Friendly and Responsive</p>
          <p class="service-detail-content">Now, companies require their sites to be responsive and mobile-friendly. These are imperative features and functionalities that add worth to the site and make it easy to get to to clients.</p>
      </div>
      <div class="service-webdev-div wow animated slideInUp">
          <%= image_tag "theme1/Sevices page/services small icons/Visitors retention.png", alt: ""%>
          <p class="service-detail-heading">Boosts Sales and Revenue</p>
          <p class="service-detail-content">A proper site design is an idyllic tool for enterprise to assist growth their sales and revenue. It lets the firms to augment their website visitors and demands more leads and ROI conversions.</p>
      </div>
      <div class="service-webdev-div wow animated slideInUp">
          <%= image_tag "theme1/Sevices page/services small icons/Powerful Feature and Layouts.png", alt: ""%>
          <p class="service-detail-heading">Ease of navigation</p>
          <p class="service-detail-content">The core point of web development services is to make a simplicity and versatility in site to help a user to navigate links. It becomes rapid for a user to scroll and search a site and find his/her needs in a site.</p>
      </div>
      <div class="service-webdev-div wow animated slideInUp">
          <%= image_tag "theme1/Sevices page/services small icons/Offers Real-Time Programming.png", alt: ""%>
          <p class="service-detail-heading">SEO-friendly website</p>
          <p class="service-detail-content">Nowadays, SEO has a close link with web development and design. The superior user-friendly is a website, the better ranking it'll attain.</p>
      </div>
  </div>
</section>
