<section class="service-detail-section mt-3 mt-md-5 pt-5 pb-5">
  <div class="feature-overlay"></div>
  <div class="heading-text container mx-auto text-center text-white pt-5 wow animated zoomIn" >
      Benefits of <span class="primary-color">Web Development</span> <br /> and Design Services
  </div>
  <div class="service-detail-div container mx-auto d-flex flex-wrap mb-5" style="max-width: 992px;">
      <div class="service-webdev-div wow animated slideInUp">
          <%= image_tag "theme1/Sevices page/services small icons/Optimized and quick reacting applications.png", alt: ""%>
          <p class="service-detail-heading">Optimized and quick reacting applications</p>
          <p class="service-detail-content">Front-end web development helps in creating optimized and well-structured web applications. The latest technology used by Front-End developers helps them to build quick reacting features and structure that empowers the app to load and work fast.</p>
      </div>
      <div class="service-webdev-div wow animated slideInUp">
          <%= image_tag "theme1/Sevices page/services small icons/Easy to learn and use Scale Technologies.png", alt: ""%>
          <p class="service-detail-heading">Easy to learn and use Scale Technologies</p>
          <p class="service-detail-content">Front-end web development helps in creating optimized and well-structured web applications. The latest technology used by Front-End developers helps them to build quick reacting features and structure that empowers the app to load and work fast.</p>
      </div>
      <div class="service-webdev-div wow animated slideInUp">
          <%= image_tag "theme1/Sevices page/services small icons/Speedy development and On-Time Deliverance.png", alt: ""%>
          <p class="service-detail-heading">Speedy development and On-Time Deliverance</p>
          <p class="service-detail-content">Front-end web development helps in creating optimized and well-structured web applications. The latest technology used by Front-End developers helps them to build quick reacting features and structure that empowers the app to load and work fast.</p>
      </div>
      <div class="service-webdev-div wow animated slideInUp">
          <%= image_tag "theme1/Sevices page/services small icons/Visitors retention.png", alt: ""%>
          <p class="service-detail-heading">Visitors retention</p>
          <p class="service-detail-content">Front-end web development helps in creating optimized and well-structured web applications. The latest technology used by Front-End developers helps them to build quick reacting features and structure that empowers the app to load and work fast.</p>
      </div>
      <div class="service-webdev-div wow animated slideInUp">
          <%= image_tag "theme1/Sevices page/services small icons/Powerful Feature and Layouts.png", alt: ""%>
          <p class="service-detail-heading">Powerful Feature and Layouts</p>
          <p class="service-detail-content">Front-end web development helps in creating optimized and well-structured web applications. The latest technology used by Front-End developers helps them to build quick reacting features and structure that empowers the app to load and work fast.</p>
      </div>
      <div class="service-webdev-div wow animated slideInUp">
          <%= image_tag "theme1/Sevices page/services small icons/Offers Real-Time Programming.png", alt: ""%>
          <p class="service-detail-heading">Offers Real-Time Programming</p>
          <p class="service-detail-content">Front-end web development helps in creating optimized and well-structured web applications. The latest technology used by Front-End developers helps them to build quick reacting features and structure that empowers the app to load and work fast.</p>
      </div>
  </div>
</section>
<section class="container mx-auto row d-flex align-items-center about-section mb-5">
  <p class="heading-text text-center wow animated zoomIn">
      Our <span class="primary-color">Project</span>
  </p>
  <p class="mt-5 wow animated zoomIn" style="max-width: 767px; margin: auto; text-align: center; line-height: 1.3;">Welcome to our Portfolio! Explore our diverse range of projects that showcase our expertise in web development, e-commerce solutions, and custom web applications. Each project reflects our dedication to quality, innovation, and client satisfaction. See how we have transformed ideas into successful digital solutions tailored to meet unique business needs.</p>

  <div class="d-flex portfolio-img-parent-div justify-content-center gap-3 flex-wrap mt-5">
      <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
              <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
              <button class="custom-btn mt-0 py-1 px-2">
                  <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
              </button>
          </div>
          <%= image_tag 'theme1/feature-2.png', alt: '' %>
      </div>
      <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
              <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
              <button class="custom-btn mt-0 py-1 px-2">
                  <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
              </button>
          </div>
          <%= image_tag 'theme1/about.png', alt: '' %>
      </div>
      <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
              <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
              <button class="custom-btn mt-0 py-1 px-2">
                  <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
              </button>
          </div>
          <%= image_tag 'theme1/review.png', alt: '' %>
      </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <%= link_to 'View All', theme1_home_portfolio_path, class: 'custom-btn text-decoration-none' %>
  </div>
</section>
