<section class="service-section position-relative" id="servicepart">
  <%= image_tag 'theme1/dot-shape-right-top.png', class: "position-absolute top-0 end-0", style: "z-index: -1; opacity: 0.4", alt: "" %>
  <div class="container mx-auto mb-3 mb-md-5 pt-5 pb-5">
    <p class="heading-text text-center mt-3 mt-md-5 mb-4 wow animated zoomIn">
      Our Latest <span class="primary-color">Insights</span> and <span class="primary-color">Industry</span> Trends
    </p>
    <p class="text-center my-3 wow animated zoomIn" style="max-width: 750px; margin: auto; line-height: 1.4; font-size: 14px;">
      Stay to the front of the curve with our newest software development news, trends, and expert
      advice. Discover best practices for building the strong, scalable, and inventive software
      resolutions. Find out new technologies, learn in relation to coding strategies, and gain precious
      insights to raise your development procedure and deliver outstanding results.
    </p>
    <div class="service-div blog-service-div mt-5">
      <% blogs = [
        { title: "The Top 5 reasons you should consider hiring Custom Software Development Company", img: "theme1/blog1.jpg", date: "02 Aug 2024, By Admin", content: "In the fast-paced digital age, businesses are constantly seeking ways to gain a competitive edge and streamline their operations.", path: theme1_home_blog_details_path('top_5_reasons_hiring_custom_software_development'), animation: "slideInLeft" },
        { title: "The Future of Software Development: How AI Will Reshape the Industry", img: "theme1/blog2.jpeg", date: "02 Aug 2024, By Admin", content: "How AI Will Reshape the Industry", path: theme1_home_blog_details_path('how_ai_will_reshape_the_industry'), animation: "slideInDown" },
        { title: "From Idea to Reality: A Guide to the Software Engineering Development Process", img: "theme1/blog3.webp", date: "02 Aug 2024, By Admin", content: "A Guide to the Software Engineering Development Process", path: theme1_home_blog_details_path('software_engineering_development_guide'), animation: "slideInRight" },
        { title: "Essential Guidelines for Hiring the Perfect Ruby on Rails Software Developer: A Comprehensive Top 10 Checklist", img: "theme1/blog4.png", date: "02 Aug 2024, By Admin", content: "Essential Guidelines for Hiring the Perfect Ruby on Rails Software Developer: A Comprehensive Top 10 Checklist", path: theme1_home_blog_details_path('ruby_on_rails_developer_guidelines'), animation: "slideInLeft" },
        { title: "IT Consulting", img: "theme1/blog1.jpg", date: "02 Aug 2024, By Admin", content: "", path: theme1_home_blog_details_path('ruby_on_rails_developer_guidelines'), animation: "slideInUp" },
        { title: "Digital Marketing", img: "theme1/digital-marketing.jpeg", date: "02 Aug 2024, By Admin", content: "", path: theme1_home_blog_details_path('ruby_on_rails_developer_guidelines'), animation: "slideInRight" }
      ] %>
      <% blogs.each do |blog| %>
        <div class="d-flex gap-1 flex-column gap-sm-2 bg-white wow animated <%= blog[:animation] %>">
          <%= link_to image_tag(blog[:img], alt: "", height: "100%"), blog[:path] %>
          <div class="service-content">
            <div class="blog-time">
              <%= blog[:date] %>
            </div>
            <%= link_to blog[:title], blog[:path], class: "text-decoration-none mb-2", style: "font-size: 18px; font-weight: 600; color: black; text-align: start;" %>
            <p style="font-weight: 400;" class="blog-content">
              <%= blog[:content] %>
            </p>
            <%= link_to "Read More", blog[:path], class: "mt-3" %>
          </div>
        </div>
      <% end %>
    </div>
    <nav aria-label="Page navigation" class="d-flex justify-content-center mt-5 wow animated slideInUp">
      <ul class="pagination mb-0">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Pre</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">.</a></li>
        <li class="page-item"><a class="page-link" href="#">.</a></li>
        <li class="page-item"><a class="page-link" href="#">15</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
