<header class="header-section d-flex justify-content-center align-items-center position-relative">
    <%= image_tag 'theme1/modifyimg/banner_bg.jpg', class: "homepage-banner-bg", alt: '' %>
    <div class="owl-carousel owl-carousel-header owl-theme d-flex wow animated slideInUp position-absolute top-5">
        <div class="item position-relative">
            <div class="container inner-header-section d-flex gap-3 align-items-center">
                <div class="" style="flex: 1;">
                    <p class="header-content wow animated slideInUp">Lorem ipsum dolor sit</p>
                    <p class="header-content-bold mt-3 wow animated slideInUp">
                        Lorem <span class="primary-color">ipsum dolor</span> sit amet consec
                    </p>
                    <%= link_to "Contact us", theme1_home_contact_path, class: "custom-btn mt-sm-5 mt-4 wow animated slideInUp text-decoration-none" %>
                </div>
                <div style="flex: 1; text-align: center;">
                    <%= image_tag 'theme1/modifyimg/banner_bg.jpg', class: "homepage-side-img", width: "100%", style: "margin: auto;", alt:"" %>
                </div>
            </div>
        </div>
        <div class="item position-relative">
            <div class="container inner-header-section d-flex gap-3 align-items-center">
                <div class="" style="flex: 1;">
                    <p class="header-content wow animated slideInUp">Lorem ipsum dolor sit</p>
                    <p class="header-content-bold mt-3 wow animated slideInUp">
                        Lorem <span class="primary-color">ipsum dolor</span> sit amet consec
                    </p>
                    <%= link_to "Contact us", theme1_home_contact_path, class: "custom-btn mt-sm-5 mt-4 wow animated slideInUp text-decoration-none" %>
                </div>
                <div style="flex: 1; text-align: center;">
                    <%= image_tag 'theme1/modifyimg/Banner icon1.png', class: "homepage-side-img", width: "100%", style: "margin: auto;", alt:"" %>
                </div>
            </div>
        </div>
        <div class="item position-relative">
            <div class="container inner-header-section d-flex gap-3 align-items-center">
                <div class="" style="flex: 1;">
                    <p class="header-content wow animated slideInUp">Lorem ipsum dolor sit</p>
                    <p class="header-content-bold mt-3 wow animated slideInUp">
                        Lorem <span class="primary-color">ipsum dolor</span> sit amet consec
                    </p>
                    <%= link_to "Contact us", theme1_home_contact_path, class: "custom-btn mt-sm-5 mt-4 wow animated slideInUp text-decoration-none" %>
                </div>
                <div style="flex: 1; text-align: center;">
                    <%= image_tag 'theme1/modifyimg/Banner icon3.png', class: "homepage-side-img", width: "100%", style: "margin: auto;", alt:"" %>
                </div>
            </div>
        </div>
        <div class="item position-relative">
            <div class="container inner-header-section d-flex gap-3 align-items-center">
                <div class="" style="flex: 1;">
                    <p class="header-content wow animated slideInUp">Lorem ipsum dolor sit</p>
                    <p class="header-content-bold mt-3 wow animated slideInUp">
                        Lorem <span class="primary-color">ipsum dolor</span> sit amet consec
                    </p>
                    <%= link_to "Contact us", theme1_home_contact_path, class: "custom-btn mt-sm-5 mt-4 wow animated slideInUp text-decoration-none" %>
                </div>
                <div style="flex: 1; text-align: center;">
                    <%= image_tag 'theme1/modifyimg/Banner icon4.png', class: "homepage-side-img", width: "100%", style: "margin: auto;", alt:"" %>
                </div>
            </div>
        </div>
    </div>
</header>
