<header class="header-section d-flex justify-content-center align-items-center position-relative portfolio-page-header">
  <p class="portfolio-header-content">Company Portfolio</p>
</header>

<section class="container mx-auto portfolio-section mt-5 pt-5 mb-5">
  <p class="heading-text text-center">Recent <span class="primary-color">Projects</span></p>
  <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
          <button class="nav-link active" id="web-tab" data-bs-toggle="tab" data-bs-target="#web-dev" type="button" role="tab" aria-controls="web-dev" aria-selected="true">Web App</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="mobile-tab" data-bs-toggle="tab" data-bs-target="#mobile-dev" type="button" role="tab" aria-controls="mobile-dev" aria-selected="false">Mobile App</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-dev" type="button" role="tab" aria-controls="design-dev" aria-selected="false">Design</button>
      </li>
  </ul>
  <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="web-dev" role="tabpanel" aria-labelledby="web-tab">
          <div class="d-flex portfolio-img-parent-div justify-content-center gap-3 flex-wrap">
              <div class="portfolio-img-div position-relative">
                  <div class="portfolio-content justify-content-between position-absolute">
                      <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
                      <button class="custom-btn mt-0 py-1 px-2">
                          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
                      </button>
                  </div>
                  <%= image_tag "theme1/about-head.png", alt: "" %>
              </div>
              <div class="portfolio-img-div position-relative">
                  <div class="portfolio-content justify-content-between position-absolute">
                      <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
                      <button class="custom-btn mt-0 py-1 px-2">
                          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
                      </button>
                  </div>
                  <%= image_tag "theme1/portfolio-head.png", alt: "" %>
              </div>
              <div class="portfolio-img-div position-relative">
                  <div class="portfolio-content justify-content-between position-absolute">
                      <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
                      <button class="custom-btn mt-0 py-1 px-2">
                          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
                      </button>
                  </div>
                  <%= image_tag "theme1/career-head.png", alt: "" %>
              </div>
              <div class="portfolio-img-div position-relative">
                  <div class="portfolio-content justify-content-between position-absolute">
                      <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
                      <button class="custom-btn mt-0 py-1 px-2">
                          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
                      </button>
                  </div>
                  <%= image_tag "theme1/feature-2.png", alt: "" %>
              </div>
              <div class="portfolio-img-div position-relative">
                  <div class="portfolio-content justify-content-between position-absolute">
                      <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
                      <button class="custom-btn mt-0 py-1 px-2">
                          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
                      </button>
                  </div>
                  <%= image_tag "theme1/about.png", alt: "" %>
              </div>
              <div class="portfolio-img-div position-relative">
                  <div class="portfolio-content justify-content-between position-absolute">
                      <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
                      <button class="custom-btn mt-0 py-1 px-2">
                          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
                      </button>
                  </div>
                  <%= image_tag "theme1/review.png", alt: "" %>
              </div>
          </div>
      </div>
      <div class="tab-pane fade" id="mobile-dev" role="tabpanel" aria-labelledby="mobile-tab">
          <div class="d-flex portfolio-img-parent-div justify-content-center gap-3 flex-wrap">
              <div class="portfolio-img-div position-relative">
                  <div class="portfolio-content justify-content-between position-absolute">
                      <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
                      <button class="custom-btn mt-0 py-1 px-2">
                          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
                      </button>
                  </div>
                  <%= image_tag "theme1/feature-2.png", alt: "" %>
              </div>
              <div class="portfolio-img-div position-relative">
                  <div class="portfolio-content justify-content-between position-absolute">
                      <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
                      <button class="custom-btn mt-0 py-1 px-2">
                          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
                      </button>
                  </div>
                  <%= image_tag "theme1/about.png", alt: "" %>
              </div>
              <div class="portfolio-img-div position-relative">
                  <div class="portfolio-content justify-content-between position-absolute">
                      <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
                      <button class="custom-btn mt-0 py-1 px-2">
                          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
                      </button>
                  </div>
                  <%= image_tag "theme1/review.png", alt: "" %>
              </div>
          </div>
      </div>
      <div class="tab-pane fade" id="design-dev" role="tabpanel" aria-labelledby="design-tab">
          <div class="d-flex portfolio-img-parent-div justify-content-center gap-3 flex-wrap">
              <div class="portfolio-img-div position-relative">
                  <div class="portfolio-content justify-content-between position-absolute">
                      <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
                      <button class="custom-btn mt-0 py-1 px-2">
                          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
                      </button>
                  </div>
                  <%= image_tag "theme1/about-head.png", alt: "" %>
              </div>
              <div class="portfolio-img-div position-relative">
                  <div class="portfolio-content justify-content-between position-absolute">
                      <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
                      <button class="custom-btn mt-0 py-1 px-2">
                          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
                      </button>
                  </div>
                  <%= image_tag "theme1/portfolio-head.png", alt: "" %>
              </div>
              <div class="portfolio-img-div position-relative">
                  <div class="portfolio-content justify-content-between position-absolute">
                      <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
                      <button class="custom-btn mt-0 py-1 px-2">
                          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
                      </button>
                  </div>
                  <%= image_tag "theme1/career-head.png", alt: "" %>
              </div>
          </div>
      </div>
  </div>
</section>
