<section class="container mx-auto portfolio-section mt-5 pt-5 mb-5">
  <p class="heading-text text-center wow animated slideInUp">Recent <span class="primary-color">Projects</span></p>
  <div class="tab-content mt-5" id="myTabContent">
    <div class="tab-pane fade show active" id="web-dev" role="tabpanel" aria-labelledby="web-tab">
      <div class="d-flex portfolio-img-parent-div justify-content-center gap-3 flex-wrap">
        <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
            <p style="font-size: 14px; font-weight: 700;">E-commerce</p>
            <button class="custom-btn mt-0 py-1 px-2" onclick="applyPortfolioDetailModalOpen()">
              <a class="text-decoration-none" style="font-size: 12px;">See More</a>
            </button>
          </div>
          <%= image_tag "theme1/postfolio1.webp" , alt: "" %>
        </div>

        <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
            <p style="font-size: 14px; font-weight: 700;">Health Management</p>
            <button class="custom-btn mt-0 py-1 px-2" onclick="healthCareModelOpen()">
              <a class="text-decoration-none" style="font-size: 12px;">See More</a>
            </button>
          </div>
          <%= image_tag "theme1/portfolio-content1.jpg" , alt: "" %>
        </div>

        <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
            <p style="font-size: 14px; font-weight: 700;">Online Education System</p>
            <button class="custom-btn mt-0 py-1 px-2" onclick="onlineEducationModelOpen()">
              <a class="text-decoration-none" style="font-size: 12px;">See More</a>
            </button>
          </div>
          <%= image_tag "theme1/portfolio-content2.avif" , alt: "" %>
        </div>

        <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
            <p style="font-size: 14px; font-weight: 700;">Hotel Managament System</p>
            <button class="custom-btn mt-0 py-1 px-2" onclick="hotelManagementModelOpen()">
              <a class="text-decoration-none" style="font-size: 12px;">See More</a>
            </button>
          </div>
          <%= image_tag "theme1/portfolio-content3.webp" , alt: "" %>
        </div>

        <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
            <p style="font-size: 14px; font-weight: 700;">Travelling System</p>
            <button class="custom-btn mt-0 py-1 px-2" onclick="travellingSystemModelOpen()">
              <a class="text-decoration-none" style="font-size: 12px;">See More</a>
            </button>
          </div>
          <%= image_tag "theme1/portfolio-content4.jpg" , alt: "" %>
        </div>

        <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
            <p style="font-size: 14px; font-weight: 700;">Digital Marketing System</p>
            <button class="custom-btn mt-0 py-1 px-2" onclick="digitalMarketingModelOpen()">
              <a class="text-decoration-none" style="font-size: 12px;">See More</a>
            </button>
          </div>
          <%= image_tag "theme1/portfolio-content5.jpg" , alt: "" %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'theme1/home/portfolio_body/ecommerce_portfolio' %>
<%= render 'theme1/home/portfolio_body/health_care_portfolio' %>
<%= render 'theme1/home/portfolio_body/online_education_system_portfolio' %>
<%= render 'theme1/home/portfolio_body/hotel_management_system_portfolio' %>
<%= render 'theme1/home/portfolio_body/travelling_management_system_portfolio' %>
<%= render 'theme1/home/portfolio_body/digital_marketing_system_portfolio' %>
