<section class="container mx-auto portfolio-section mt-5 pt-5 mb-5">
  <p class="heading-text text-center wow animated slideInUp">Recent <span class="primary-color">Projects</span></p>
  <div class="tab-content mt-5" id="myTabContent">
    <div class="tab-pane fade show active" id="web-dev" role="tabpanel" aria-labelledby="web-tab">
      <div class="d-flex portfolio-img-parent-div justify-content-center gap-3 flex-wrap">
        <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
            <p style="font-size: 14px; font-weight: 700;">E-commerce</p>
            <button class="custom-btn mt-0 py-1 px-2" onclick="applyPortfolioDetailModalOpen()">
              <a class="text-decoration-none" style="font-size: 12px;">See More</a>
            </button>
          </div>
          <%= image_tag "theme1/postfolio1.webp" , alt: "" %>
        </div>

        <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
            <p style="font-size: 14px; font-weight: 700;">Health Management</p>
            <button class="custom-btn mt-0 py-1 px-2" onclick="applyPortfolioDetailModalOpen()">
              <a class="text-decoration-none" style="font-size: 12px;">See More</a>
            </button>
          </div>
          <%= image_tag "theme1/portfolio-content1.webp" , alt: "" %>
        </div>

        <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
            <p style="font-size: 14px; font-weight: 700;">Online Education System</p>
            <button class="custom-btn mt-0 py-1 px-2" onclick="applyPortfolioDetailModalOpen()">
              <a class="text-decoration-none" style="font-size: 12px;">See More</a>
            </button>
          </div>
          <%= image_tag "theme1/portfolio-content2.jpeg" , alt: "" %>
        </div>

        <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
            <p style="font-size: 14px; font-weight: 700;">Hotel Managament System</p>
            <button class="custom-btn mt-0 py-1 px-2" onclick="applyPortfolioDetailModalOpen()">
              <a class="text-decoration-none" style="font-size: 12px;">See More</a>
            </button>
          </div>
          <%= image_tag "theme1/portfolio-content3.jpg" , alt: "" %>
        </div>

        <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
            <p style="font-size: 14px; font-weight: 700;">Travelling System</p>
            <button class="custom-btn mt-0 py-1 px-2" onclick="applyPortfolioDetailModalOpen()">
              <a class="text-decoration-none" style="font-size: 12px;">See More</a>
            </button>
          </div>
          <%= image_tag "theme1/portfolio-content4.avif" , alt: "" %>
        </div>

        <div class="portfolio-img-div position-relative wow animated slideInUp">
          <div class="portfolio-content justify-content-between position-absolute">
            <p style="font-size: 14px; font-weight: 700;">Digital Marketing System</p>
            <button class="custom-btn mt-0 py-1 px-2" onclick="applyPortfolioDetailModalOpen()">
              <a class="text-decoration-none" style="font-size: 12px;">See More</a>
            </button>
          </div>
          <%= image_tag "theme1/portfolio-content5.jpg" , alt: "" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="portfolio-detail-modal" id="portfoliodetailmodal">
  <div class="applysection-overlay"></div>
  <div class="portfolio-modal-form">
    <div class="d-flex flex-column position-relative">
      <p class="cancel-icon" onclick="cancelPortfolioDetailFunction()">X</p>
      <h3 class="fw-bold text-center mt-3 mb-2">
        Company Name
      </h3>
      <h6 class="fw-bold text-center mb-5">
        <a class="text-decoration-none"
          style="color: gray; font-weight: 400; font-size: 14px;">www.bjhdgdgajdcas.com</a>
      </h6>
      <div style="max-height: 450px; overflow: auto; padding-inline: 12px;">
        <div class="d-flex gap-2 justify-content-between">
          <%= image_tag "theme1/postfolio1.webp", style: "border-radius: 12px; box-shadow: 0px 0px 5px lightgray; height: 220px; width: 100%; max-width: 32%; object-fit: cover;", alt: "" %>
          <%= image_tag "theme1/portfolio2.webp", style: "border-radius: 12px; box-shadow: 0px 0px 5px lightgray; height: 220px; width: 100%; max-width: 32%; object-fit: cover;", alt: "" %>
          <%= image_tag "theme1/portfolio3.jpg", style: "border-radius: 12px; box-shadow: 0px 0px 5px lightgray; height: 220px; width: 100%; max-width: 32%; object-fit: cover;", alt: "" %>
        </div>        
        <div class="text-center mt-3">
          Discover a wide range of premium products, exclusive deals, and top-notch customer service, all at your fingertips. Whether you're looking for the latest fashion trends, high-tech gadgets, or unique home decor, we have everything to elevate your lifestyle.
        </div>
        <div class="text-center mt-3">
          <div>
            <h6 class="fw-bold text-center mt-5">
              Technologies We Use:
            </h6>
            <ul class="d-flex gap-5 justify-content-center mt-3">
              <li>React</li>
              <li>React</li>
              <li>React</li>
              <li>React</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
