<section class="team-section position-relative mb-5" id="teampart">
  <%= image_tag "theme1/icon-lines-6.png", class: "position-absolute top-0 start-50 w-100 h-100 d-none d-sm-block", alt: "", style: "
    transform: translateX(-50%);
    object-fit: contain;
    z-index: -1;
    opacity: 0.5;
  " %>
  <div class="container mb-5 mt-5">
      <div class="">
          <h5 class="heading-text text-center text-dark">
              Meet our <span class="primary-color">team</span> 
          </h5>
          <p class="text-center my-3 mt-5" style="max-width: 750px; margin: auto; line-height: 1.4; font-size: 14px;">
              Meet our team of passionate experts who bring innovation and excellence to every project. Our talented professionals, from developers and designers to strategists and project managers, are dedicated to delivering exceptional results. Get to know the creative minds and skilled hands behind our success, and see how our collaborative spirit drives our achievements.
          </p>
      </div>
  </div>
  <div class="container d-flex gap-2 gap-md-5 inner-team-section align-items-center justify-content-between pt-3" style="max-width: 992px;">
      <div class="team-div wow animated slideInLeft">
          <%= image_tag 'theme1/feature.png', class: "w-100", alt: '',height: "150px" %>
          <div class="text-center p-3 name-div">
              <h6>John Smith</h4>
              <p class="mt-1 fade-color" style="font-size: 14px;">Director</p>
          </div>
          <div class="social-profile">
              <span><i class="fa-brands fa-facebook-f"></i></span>
              <span><i class="fa-brands fa-twitter"></i></span>
              <span><i class="fa-brands fa-instagram"></i></span>
          </div>
      </div>
      <div class="team-div wow animated slideInDown">
          <%= image_tag 'theme1/feature.png', class: "w-100", alt: '',height: "150px" %>
          <div class="text-center p-3 name-div">
              <h6>John Smith</h4>
              <p class="mt-1 fade-color" style="font-size: 14px;">Director</p>
          </div>
          <div class="social-profile">
              <span><i class="fa-brands fa-facebook-f"></i></span>
              <span><i class="fa-brands fa-twitter"></i></span>
              <span><i class="fa-brands fa-instagram"></i></span>
          </div>
      </div>
      <div class="team-div wow animated slideInUp">
          <%= image_tag 'theme1/feature.png', class: "w-100", alt: '',height: "150px" %>
          <div class="text-center p-3 name-div">
              <h6>John Smith</h4>
              <p class="mt-1 fade-color" style="font-size: 14px;">Director</p>
          </div>
          <div class="social-profile">
              <span><i class="fa-brands fa-facebook-f"></i></span>
              <span><i class="fa-brands fa-twitter"></i></span>
              <span><i class="fa-brands fa-instagram"></i></span>
          </div>
      </div>
      <div class="team-div wow animated slideInRight">
        <%= image_tag 'theme1/feature.png', class: "w-100", alt: '',height: "150px" %>
          <div class="text-center p-3 name-div">
              <h6>John Smith</h4>
              <p class="mt-1 fade-color" style="font-size: 14px;">Director</p>
          </div>
          <div class="social-profile">
              <span><i class="fa-brands fa-facebook-f"></i></span>
              <span><i class="fa-brands fa-twitter"></i></span>
              <span><i class="fa-brands fa-instagram"></i></span>
          </div>
      </div>
  </div>
  <div class="container d-flex gap-2 gap-md-5 inner-team-section align-items-center justify-content-between pt-3" style="max-width: 992px;">
      <div class="team-div">
          <%= image_tag 'theme1/feature.png', class: "w-100", alt: '',height: "150px" %>
          <div class="text-center p-3 name-div">
              <h6>John Smith</h4>
              <p class="mt-1 fade-color" style="font-size: 14px;">Director</p>
          </div>
          <div class="social-profile">
              <span><i class="fa-brands fa-facebook-f"></i></span>
              <span><i class="fa-brands fa-twitter"></i></span>
              <span><i class="fa-brands fa-instagram"></i></span>
          </div>
      </div>
      <div class="team-div">
        <%= image_tag 'theme1/feature.png', class: "w-100", alt: '',height: "150px" %>
          <div class="text-center p-3 name-div">
              <h6>John Smith</h4>
              <p class="mt-1 fade-color" style="font-size: 14px;">Director</p>
          </div>
          <div class="social-profile">
              <span><i class="fa-brands fa-facebook-f"></i></span>
              <span><i class="fa-brands fa-twitter"></i></span>
              <span><i class="fa-brands fa-instagram"></i></span>
          </div>
      </div>
      <div class="team-div">
        <%= image_tag 'theme1/feature.png', class: "w-100", alt: '',height: "150px" %>
          <div class="text-center p-3 name-div">
              <h6>John Smith</h4>
              <p class="mt-1 fade-color" style="font-size: 14px;">Director</p>
          </div>
          <div class="social-profile">
              <span><i class="fa-brands fa-facebook-f"></i></span>
              <span><i class="fa-brands fa-twitter"></i></span>
              <span><i class="fa-brands fa-instagram"></i></span>
          </div>
      </div>
      <div class="team-div">
        <%= image_tag 'theme1/feature.png', class: "w-100", alt: '',height: "150px" %>
          <div class="text-center p-3 name-div">
              <h6>John Smith</h4>
              <p class="mt-1 fade-color" style="font-size: 14px;">Director</p>
          </div>
          <div class="social-profile">
              <span><i class="fa-brands fa-facebook-f"></i></span>
              <span><i class="fa-brands fa-twitter"></i></span>
              <span><i class="fa-brands fa-instagram"></i></span>
          </div>
      </div>
  </div>
</section>
