<div class="service-detail-content">
  <% case @tab %>
  <% when 'web-development' %>
    <%= render 'theme1/home/services_detail_body/web_development' %>
  <% when 'app-development' %>
    <%= render 'theme1/home/services_detail_body/app_development' %>
  <% when 'ui-ux-design' %>
    <%= render 'theme1/home/services_detail_body/ui_ux_design' %>
  <% when 'digital-marketing' %>
    <%= render 'theme1/home/services_detail_body/digital_marketing' %>
  <% else %>
    <%= render 'theme1/home/services_detail_body/web_development' %>
  <% end %>
</div>
